<nav class="navbar navbar-default">

  <div class="container">

    <!-- Logo and small screen menu toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-toggle" aria-expanded="false">
        <span class="description">Menu</span>
      </button>
      <a class="navbar-brand" href="{{ site.github.url }}/"><img src="{{ site.github.url }}/assets/logo-sml-no-image.png" alt="Emily Cutler" /></a>

    </div>

    <div class="collapse navbar-collapse" id="main-nav-toggle">
      <ul class="nav navbar-nav">
        
        <li {% if p.url == page.url %}class="active"{% endif %}>
          <a href="{{ site.github.url }}">Home</a>
        </li>

        {% assign pages = site.pages | sort:"weight"  %}  
        
        {% for p in pages %}

          {% if p.navinclude == "include" %}
          
            <li {% if p.url == page.url %}class="active"{% endif %} >
              <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
            
          {% endif %}

        {% endfor %}

      </ul>
      <ul class="nav navbar-nav navbar-right icons">

        <li><a href="https://www.linkedin.com/in/cutleremily" title="L">
              <span class="fa-stack fa-lg">        
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
              LinkedIn
            </a>
        </li>
        <li>
          <a href="mailto:{{ site.email }}" title="{{ site.email }}">
            <span class="fa-stack fa-lg">        
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            {{ site.email }}
          </a>
        </li>

      </ul>
     </div>

  </div>

</nav>