// Bootstrap overrides (must be added before BS is imported)
@import "variables";

// import bootstrap
@import "bootstrap";


figure {
	padding-bottom: 30px;
}

// Helpers

/* Adds space between containers */
.margin-b {
	margin-bottom: 20px;
}

// Typography

h1 {
	color: $brand-primary;
	padding-bottom: 10px;
	border-bottom: 1px solid lighten($brand-secondary, 30%);
	}

.lead {
	font-weight: 400;
}

p {
	font-weight: 300;
}

// Home page 

.header-home {
	background: $brand-primary url('../assets/pattern-octagonal.png') top right no-repeat;
	padding: 50px 0;

	p {
		color: white;
		font-size: 1.5em;
	}

}

.portfolio {
	background-color: lighten($brand-secondary, 50%);

}

.logo {
	display: block;
	margin: 0 auto;
	background: url('../assets/logo.png') 0 0 no-repeat;
	background-size: 100% auto;
	width: 541px;
	height: 181px;
	max-width: 100%;
}

// Portfolio pages

.portfolio-page {

	h2 {
		font-size: 1.4em;
		font-weight: 600;
		margin-top: 0;
		color: $brand-primary;

	}

	h3 {
		font-weight: 600;
		font-size: 1.2em;
	}

	.project-notes {
		
		h3:first-of-type {
			margin-top: 0;
		}

	}

}