// Bootstrap overrides (must be added before BS is imported)
@import "variables";

// import bootstrap
@import "bootstrap";



// Helpers

/* Adds space between containers */
.margin-b {
	margin-bottom: 20px;
}

// Links

a {
	color: $brand-highlight;
	transition: all ease 0.2s;
}

// Typography

body {
	font-weight: 300;
}

h1 {
	color: $brand-primary;
	padding-bottom: 10px;
	}

.lead {
	font-weight: 400;
}

// Home page 

.header {
	background: $brand-highlight url('../assets/pattern-octagonal.png') top right no-repeat;
	padding: 50px 0;

	p {
		color: white;
		font-size: 1.5em;
	}

}

.portfolio {
	background-color: lighten($brand-primary, 50%);

}

.logo {
	display: block;
	margin: 0 auto;
	background: url('../assets/logo.png') 0 0 no-repeat;
	background-size: 100% auto;
	width: 541px;
	height: 181px;
	max-width: 100%;
}

// Portfolio pages

.portfolio-page {

	h1 {
		font-size: 1.5em;
		font-weight: bold;
		margin-top: 0;
		small {
			color: $brand-highlight;
			display: block;
			margin-top: 6px;
		}
	}

	h2 {
		font-size: 1em;
		font-weight: 700;
	}

	h3 {
		padding-top: 50px;
	}

.project-details {
	border-radius: $border-radius-small;
	padding: 20px;
	border-left: 2px solid $grey-light;
	}
	

	.project-notes {


	}

	.image {
		margin: 0 auto;
		display: block;
		&.small {
			width: 50%;
		}

		&.x-small {
			width: 30%;
		}
	}

}