// Components

// Cards

.card-container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	margin-top: 30px;

}
.card {
	width: 30%;
	margin: 0 15px 30px 15px;
	background-color: #fff;
	border-radius: $border-radius-xlarge;
	transition: all 0.3s;
	box-shadow: 0 0 3px lighten($brand-secondary, 40%);
	position: relative;
	overflow: hidden;
	
	@media (max-width: $screen-md) {
		width: 45%;
	}
	@media (max-width: $screen-sm) {
		width: 100%;
		margin-right: 0;
	}

	&:hover, &:focus {

		p.link {
		
			color: $brand-primary;
		}
		
		.card-description {
			h3, p {
				transition: all 0.3s ease;
				color: $brand-highlight;
			}
		}
		.card-hover-icon {
			transform: translate3d(0,0,0);
			bottom: 10px;
		}
	}

	.card-thumb {
		display: block;
		width: 100%;
		max-height: 250px;
		overflow: hidden;
		padding-top: 10px;
		border-top-left-radius: $border-radius-xlarge;
		border-top-right-radius: $border-radius-xlarge;
		img {
			height: 250px;
			display: block;
			margin: 0 auto;
		}
	
	}

	.card-description {
		position: relative;
		display: block;
		padding: 20px;

		h3 {
			font-weight: 700;
			font-size: 1.2em;
			margin-bottom: 0;
		}
		
		p {
			color: $text-color;
			&.link {
				font-weight: 800;
				font-size: 0.8em;
				transition: color 0.3s;
			}
		}
	}

	.card-hover-icon {
		position: absolute;
		top: auto;
		bottom: 0;
		right: 10px;
		text-align: right;
		transform: translate3d(0,100%,0);
		transition: all 0.35s;
		width: 100%;
		font-size: 30px;
		.icon {
			padding: 20px;
			background-color: rgba(0,188,212, 0.9);
			border-radius: $border-radius-xlarge;
			color: white;
		}
	}
}

// Image with caption

figure {
	margin: 50px 0;
	
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	h2 {
		margin-top: 0;
	}

	figurecaption {
		display: block;
		padding-bottom: 20px;
		font-weight: 700;

		p {
			font-weight: 600;
			font-size: 0.8em;
		}
	}

	&:first-of-type {
		margin-top: 0;
	}

}

// Round container
.round-container {
	display: inline-block;
	border-radius: 150px;
	overflow: hidden;
	img {
		max-width: 100%;
	}
}

//Browser frame

.browser-frame {
  border-radius: $frame-border-radius-large;
  box-shadow: 0 0 3px darken($browser-chrome, 20%);
  overflow: hidden;
  margin-bottom: 30px;
  
	img {
	  max-width: 100%;
	}
  

	.browser-controls {
	  background: $browser-chrome;
	  color: $browser-controls;
	}

	.window-controls {
	  padding: 5px 10px;
	  span {
	    display: inline-block;
	    width: 10px;
	    height: 10px;
	    border-radius: 50px;
	    background: $close;
	    &.minimise {
	      background: $minimise;
	    }
	    &.maximise {
	      background: $maximise;
	    }
	  }
	}

}


// Page nav

.PageNavigation {
	margin: 20px 0 40px;
	text-align: right;
	.next {
		margin-right: 20px;
	}
}