// Variables

$brand-primary: #00AEEF;
$text-color: #12132A;

$font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Lora", Georgia, "Times New Roman", Times, serif !default;

$font-size-base:          16px !default;

$headings-font-weight: 700;