// Variables

$brand-primary: #00BCD4;
$brand-secondary: #607D8B;
$brand-highlight: #FFF9C4;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$text-color: #607D8B;

$font-size-base: 15px !default;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 100;
$headings-color: $brand-secondary;

$body-bg: #fff;

$navbar-default-color: #fff !default;
$navbar-default-bg:	darken($brand-primary, 5%);
$navbar-border-radius: none;
$navbar-default-border: none;
$navbar-margin-bottom: 0;
$navbar-height: 100px;

// Navbar links
$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          $brand-highlight;
$navbar-default-link-active-color:         $brand-highlight;
$navbar-default-link-disabled-color:       lighten($brand-primary, 40%);

// Navbar toggle
$navbar-default-toggle-hover-bg:           darken($brand-primary,20%);
$navbar-default-toggle-icon-bar-bg:        lighten($brand-primary, 5%);
$navbar-default-toggle-border-color:       lighten($brand-primary, 5%);


$border-radius-xlarge: 10px;

$link-hover-decoration: none;

//Broswer frame 
$browser-chrome: #E6ECEF;
$browser-controls: #BEC4C6;
$close: #FF8585;
$minimise: #FFD071;
$maximise: #74ED94;
$frame-border-radius-large: 10px;
$frame-border-radius-small: 3px;
$control-height: 25px;