<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}
    
    <header class="header-home">
    	<div class="container">
	    	<div class="row">
			  <div class="col-md-8 col-md-offset-2">
			  	<span class="logo"></span>
			    <p class="text-center" style="font-weight: 300;">Hi, I’m Emily! I’m an experienced User Interface designer with strong communication, visual design and front-end development skills. I have a passion for user centered design and I’m always looking for opportunities to further my skills in UI and UX Design.</p>
			  </div>
			</div>
		</div>
    </header>
    
    <section class="page-content">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
      
            {{ content }}
      
          </div>
        </div>
      </div>
    
    </section>

    {% include footer.html %}
    

    {% include scripts.html %}

  </body>

</html>


