---
layout: default
---
    
<section class="portfolio-page">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

      	<div class="PageNavigation">
				  {% if page.next.url %}
				    <a class="next" href="{{page.next.url}}">&laquo; Previous</a>
				  {% endif %}

				  {% if page.previous.url %}
				    <a class="prev" href="{{page.previous.url}}"><strong>Next</strong> {{page.previous.title}} &raquo;</a>
				  {% endif %}

				</div>
  
        <div class="post-content" itemprop="articleBody">
					{{ content }}
				</div>

  
      </div>
    </div>
  </div>

</section>

